:root {
  --1: #1F2937; /* dark gray */
  --2: #CFD3D8; /* light gray */
  --3: #F7F3E9; /* off white */
  --4: #D97706; /* orange */
  --5: #CBD5E1; /* sleek gray */
  --6: #38BDF8; /* cyan */
}
body {
  background-color: var(--2);
  color: var(--1);
  min-height: 100vh;
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'zain', 'nunito', sans-serif;
}

#nav {
  background-color: var(--3);
  color: var(--3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
  height: 10vh;
  box-shadow: 0 2px 8px rgba(61, 61, 61, 0.336);
  position: fixed;
  z-index: 1000;
  top: 0;
}
#menu{
	display: flex;
	gap: 20px;
}
.pp{
	position: relative;
}
.submenu{
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--3);
	border-radius: 0 15px 0 15px;
	box-shadow: 0 4px 8px rgba(49, 49, 49, 0.719);
	align-items: center;
	text-align: center;
	opacity: 0;
	visibility: hidden;
	transform: translateY(10px);
	transition: opacity 0.4s ease, transform 0.3s ease, visibility 0.3s ease;
}
.pp:hover .submenu{
	opacity: 1;
	visibility: visible;
	transform: translateY(50px);
}


.submenu a{
	display: block;
	width: 200px;
	color: var(--1);
	text-decoration: none;
	font-size: 16px;
	padding: 10px;
	transition: 0.3s ease;
	border-radius: 0 15px 0px 15px;
}

#menu a {
  color: var(--1);
  text-decoration: none;
  font-size: 18px;
  display: block;
  padding: 10px;
  transition: 0.3s ease;
  border-radius: 0 15px 0px 15px;
}

#menu a:hover {
  color: var(--4);
  background-color: var(--2);
  transform: scale(1.2);
}

#header{
	padding: 10vh 0 0 0;
	background-image: url('blob-scene-haikei.svg');
	height: 100vh;
	background-size:cover;
	display: flex;
	justify-content: center;
	flex-flow: column wrap;
	align-items: center;
	background-position: top;
	background-attachment: fixed;
}

#header h1{
	font-size: 70px;
	color: var(--3);
}

#header p{
	font-size: 20px;
	color: white;
	margin-top: 10px;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 15px;
	border-radius: 25px;
}

#stuff{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 80px 10%;
	font-size: 20px;
	gap: 20px;
	line-height: 1.6;
}

#content{
	display: flex;
	width: 100%;
	min-height: 100vh;
	flex-flow: column wrap;
	justify-content: center;
	background-image: url('2.svg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color: var(--5);
	padding: 20px;
	align-items: center;
	gap: 50px;
	column-wrap: nowrap;
	font-size: 20px;
}
#list{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	background: transparent;
	gap: 20px;
}

.card{
	display: flex;
	height: 300px;
	width: 300px;
	padding: 20px 20px 40px 20px;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 25px;
	background-image: url('stacked-waves-haikei.svg');
	background-attachment: fixed	;
	background-size: cover;
	background-position:0px 0px;
	background-repeat: no-repeat;
	border-radius: 15px;
	overflow: visible;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.719);
	color: white;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	font-family: montserrat, sans-serif;
	position: relative;
}

.icon{
	font-size: 50px;
	position: absolute;
	bottom: -30px;
	z-index: 500;
	padding: 20px;
	border-radius: 50%;
	background-color: 	#081425;
	height: 80px;
	width: 80px;
	display: flex;
	justify-content: center;		
}

#footer{
	display: flex;
	flex-direction: column;	
	justify-content: space-between;
	background-color: #f8f9fa;
  	color: #555;
  	padding: 50px;
  	text-align: center;
  	font-size: 15px;
  	border-top: 1px solid #ddd;
	max-width: 100%;
  	margin: 0 auto;
  	line-height: 1.6;
	gap: 20px;
	font-family: 'iskole potha';
}
